urllib3==1.26.17
schedule
markdown
selenium
PyMySQL
sqlalchemy
sqlalchemy-migrate
requests
beautifulsoup4
lxml
python-dotenv
pandas
pyodbc
python-dateutil
-e git+https://github.com/LCBRU/lbrc_edge.git@main#egg=lbrc_edge
openpyxl
